https://qimin.me {
    tls minglegu@gmail.com
    gzip
    root /home/qimin.me/public
    git github.com/mooncaker816/hugosite {
        path /home/qimin.me
        then hugo --destination=/home/qimin.me/public
        hook /webhook mNC,8vi9FZ#cCL
        hook_type github
        clone_args --recursive
        pull_args --recurse-submodules
    }
    hugo
}