{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
{{ $current_page := . }}

{{ $headers := findRE "<h[1-3].*?>(.|\n])+?</h[1-3]>" .Content }}
{{/*这里对h标签的id 进行了处理，防止中文标题 toc 滚动自适应失效*/}}
{{ $.Scratch.Set "cc" (htmlUnescape .Content | string) }}

{{ $has_headers := ge (len $headers) 1 }}
{{ if $has_headers }}
    {{ range $i, $header := $headers }}
        {{ $innercc := $.Scratch.Get "cc" }}
        {{ $o_hid := index (findRE "id=.([^\"]+)." $header 1) 0 }}
        {{ $o_hid := replace $o_hid "id=\"" "" }}
        {{ $o_hid := replace $o_hid "\"" "" }}      
        {{ $n_hid := md5 $o_hid }}        
        {{ $n_header := replace $header $o_hid $n_hid }}                
        {{ $innercc := replace $innercc $header $n_header}}
        {{ $.Scratch.Set "cc" $innercc }}
    {{ end }}
{{ end }}

<div class="container body-content tocpost">
  <div class="row">

      <nav id="tocpost-navbar" class="tocpost-nav visible-md visible-lg affix">

          <ul id="tocpost-main-nav">
              {{ range .Site.Menus.example.ByWeight }}
              <li {{ if .HasChildren }}class="panel collapsed"{{ end }}{{ if $current_page.IsMenuCurrent "example" . }}class="active"{{ end }}>
                {{ if .HasChildren }}
                <a class="area {{ if not ($current_page.HasMenuCurrent "example" .) }}collapsed{{end}}" href="#{{ .Identifier | urlize }}" data-parent="#tocpost-main-nav" data-toggle="collapse" aria-expanded="{{ if $current_page.HasMenuCurrent "example" . }}true{{ else }}false{{ end }}">{{ .Name }} <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
      
                <ul id="{{ .Identifier | urlize }}" class="collapse {{ if or ($current_page.IsMenuCurrent "example" .) ($current_page.HasMenuCurrent "example" .) }}in{{ end }}">
                  {{ range .Children }}
                  <li {{ if $current_page.IsMenuCurrent "example" . }}class="active"{{ end }}>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                  </li>
                  {{ end }}
                </ul>
                {{ else }}
                <a href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
              </li>
              {{ end }}
          </ul>
      </nav>
      <div class="col-md-2">
          <nav id="small-nav" class="tocpost-nav hidden-md hidden-lg">
            <h4>Topics</h4>
            {{ $menu := .Site.Menus.example.ByWeight }}
            <ul>
            {{ range $menu }}
              <li>
                {{ if .HasChildren }}
                  {{ .Name }}
                  <ul>
                  {{ range .Children }}
                    <li>
                      <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                  {{ end }}
                  </ul>
                {{ else }}
                  <a href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
              </li>
              {{ end }}
            </ul>
          </nav>
      </div>

      <div class="col-sm-9 col-md-8 body">
          <article class="article" itemscope itemtype="http://schema.org/Article">

            {{ partial "header_image.html" . }}

            <div class="article-container">
              <h1 itemprop="name">{{ .Title }}</h1>

              {{ partial "article_metadata" (dict "content" . "is_list" 0) }}

              <div class="article-style" itemprop="articleBody">
                {{ $.Scratch.Get "cc" | safeHTML }}
              </div>

              {{ partial "tags.html" . }}

              {{ $related := .Site.RegularPages.Related . | first 5 }}
              {{ with $related }}
              <div class="article-widget">
                <div class="hr-light"></div>
                <h3>{{ i18n "related" }}</h3>
                <ul>
                  {{ range . }}
                  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                  {{ end }}
                </ul>
              </div>
              {{ end }}

              <div class="body-footer">
                  {{ i18n "last_updated" }} {{ $.Lastmod.Format $.Site.Params.date_format }}
              </div>

              {{ partial "comments.html" . }}

            </div>

          </article>
      </div>


      <div class="hidden-xs col-sm-3 col-md-2">
          <nav id="tocpost-subnavbar" class="affix">
            {{ partial "toc" . }}
            <ul class="nav article-toc-top">
              <li><a href="#">回到顶部</a></li>
            </ul>

            <!-- <div class="connect-widget">
              <ul class="connect-links fa-ul">
                <li><i class="fa-li fa fa-question-circle"></i><a href="http://discuss.gohugo.io" target="_blank">Ask questions</a></li>
                <li><i class="fa-li fa fa-comments-o"></i><a href="https://github.com/gcushen/hugo-academic/issues" target="_blank">Request features</a></li>
                <li><i class="fa-li fa fa-bug"></i><a href="https://github.com/gcushen/hugo-academic/issues" target="_blank">Report issues</a></li>
              </ul>
            </div> -->
          </nav>
      </div>

  </div>
</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
